:root{
    /* Color Palette*/
    --abs-blue : #4C5FD5;
    --abs-grey : #dadbf1;
    --abs-black : #000000;
    --abs-white : #fff;
}

@font-face {
    font-family: 'GT America Standard Bold';
    src: url('../fonts/GT-America-Standard-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'GT America Standard Regular';
    src: url('../fonts/GT-America-Standard-Regular.woff2') format('woff2');
}

body{
    font-family:'GT America Standard Regular', sans-serif;
    margin: 0;
}

h1, h2{
    font-family:'GT America Standard Bold', sans-serif;
    margin: 0;
}

ul{
    padding: 0;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--abs-white);
}
a:hover{
    text-decoration: underline;
}

button{
    font-family:'GT America Standard Regular', sans-serif;
    cursor: pointer;
}

.black-and-white{
    background-color: var(--abs-black);
    color: var(--abs-white);
}

.logo-with-text{
    margin-right: 10px;
    width: 120px;
    height: 70px;
}

.header{
    display: flex;
    flex-direction: column;
}

.header-top{
    padding: .6rem 7rem;
    display: flex;
    justify-content: space-between;
}

.header-left, .header-right{
    display: flex;
    align-items: center;
}

.header-bottom{
    border-top: var(--abs-white) 1px solid;
}

.header-bottom > ul{
    margin: 2em auto;
    width: 50%;
}

.header-nav{
    font-size: 1.5rem;
    padding: 1em 2em;
    text-align: center;
    display: block;
}

.header-nav:hover{
    text-decoration: none;
    opacity: 0.7;
}

.submit-a-request{
    border-bottom: var(--abs-white) 1px solid;
}

/* Hamburger Menu */
/* Hamburger Menu Container */
.hamburger-menu{
    width: 26px;
    height: 32px;
    cursor: pointer;
    background-color: var(--abs-blue);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* INITIAL STATE */
/* Hamburger Menu 3 Lines, the input is the middle one and not show at the first glence */
.hamburger-menu::before, /* Top Line */
.hamburger-menu input, /* Middle Line */
.hamburger-menu::after /* Bottom Line */
{
    content: '';
    background-color: var(--abs-white);
    height: 3px;
    width: 100%;
    transform-origin: left center;
    /* transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing); */
}
/* Make the input(Middle Line) into line with appearance attribute*/
.hamburger-menu input {
    appearance: none;
    margin: 0;
    /* padding: 0; */
    /* outline: none; */
    /* pointer-events: none; */
}

/* ON CHECKED STATE */
.hamburger-menu:has(input:checked)::before { /* Top Line */
    rotate: 45deg;
    /* width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2); */
} 
.hamburger-menu input:checked { /* Middle Line */
    opacity: 0;
    width: 0;
}
.hamburger-menu:has(input:checked)::after { /* Bottom Line */
    rotate: -45deg;
    /* width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2); */
} 


/* ------------------------- */

.help-center{
    font-size: 24px;
    font-weight: 500;
    border-left: var(--abs-white) 2px solid;
    padding: 0px 10px;
    color: var(--abs-white);
    text-decoration: none;
}
.help-center:hover{
    text-decoration: underline;
}

.header-right{
    gap: 20px;
}

.header-right > button{
    color: var(--abs-white);
    font-size: 24px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 10px;
}

.submit{
    border: var(--abs-white) 1px solid;
    background-color: var(--abs-black);
}

.signin{
    border: var(--abs-blue) 1px solid;
    background-color: var(--abs-blue);

}


.search{
    background-color: var(--abs-grey);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

form{
    display: flex;
    position: relative;
    width: 45%;
}

.search-title{
    font-size: 5rem;
    font-family: 'GT America Standard Regular', sans-serif;
    font-weight: lighter;
}

.search-input{
    border-color: var(--abs-black);
    border-width: 1px;
    border-radius: 4px;
    padding: 0px 15px;
    width: 100%;
    height: 60px;
    font-size: 18px;
}
.search-input:hover{
    border-color: var(--abs-blue);
}

/* TODO : Make border to blue effect to the search input with its button on cursor focus and remove the clear button*/
button[type="submit"]{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    color: var(--abs-black);
    border: none;
    background: transparent url(../icons/arrow-right.svg) no-repeat center;
    background-size: 25px;
    width: 50px;
    cursor: pointer;
}
button[type="submit"]:hover{
    color: var(--abs-blue);
}

.footer{
    bottom: 0%;
    left: 0%;
    right: 0%;
    padding: 2em 4em;
    display: flex;
    justify-content: space-between;
}

.footer-left{
    display: flex;
    gap: 1.5rem;
    /* Need media query breakpoint */
    width: 80%;
    justify-content: space-evenly;
    /* --------------------------- */
}

.footer-right{
    width: 20%;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-menu-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-menu-list{
    line-height: 1.5rem;
}

.footer-text{
    line-height: 1.75rem;
    font-size: 1.25rem;
}


.assistant{
    background-color: var(--abs-blue);
    color: var(--abs-white);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 1em 2em;
    border-radius: 2em;
    border-style: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.assistant-icon{
    color: var(--abs-white);
}