:root{
    /* Color Palette*/
    --abs-blue : #4C5FD5;
    --abs-grey : #dadbf1;
    --abs-black : #000000;
    --abs-white : #fff;
}

html{
    font-family: sans-serif;
}

body{
    margin: 0;
}

h1{
    margin: 0;
}

.black-and-white{
    background-color: var(--abs-black);
    color: var(--abs-white);
}

.header{
    padding: .6rem 7rem;
    display: flex;
    justify-content: space-between;
}

.header-left, .header-right{
    display: flex;
    align-items: center;
}

.logo-with-text{
    margin-right: 10px;
    width: 120px;
    height: 70px;
}

.help-center{
    font-size: 24px;
    font-weight: 500;
    border-left: var(--abs-white) 2px solid;
    padding: 0px 10px;
    color: var(--abs-white);
    text-decoration: none;
}
.help-center:hover{
    text-decoration: underline;
}

.header-right{
    gap: 20px;
}

.header-right > button{
    color: var(--abs-white);
    font-size: 24px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 10px;
}

.submit{
    border: var(--abs-white) 1px solid;
    background-color: var(--abs-black);
}

.signin{
    border: var(--abs-blue) 1px solid;
    background-color: var(--abs-blue);

}

.search{
    background-color: var(--abs-grey);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content{
    height: 100vw;
}

.assistant{
    background-color: var(--abs-blue);
    color: var(--abs-white);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 15px 30px;
    border-radius: 30px;
    border-style: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
}

footer{
    height: 250px;
    bottom: 0%;
    left: 0%;
    right: 0%;
}